[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = likegears
	email = 30487484+likegears@users.noreply.github.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJcSG8auMblfNMTCNEXiaJNBTlohup6py8vnvyNTY2rI
[gpg]
	format = ssh
[gpg "ssh"]
{{ if eq .chezmoi.os "darwin" }}	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign{{ else }}	program = /opt/1Password/op-ssh-sign{{ end }}
[commit]
	gpgsign = true
[core]
	editor = nvim
[credential]
	helper =
